.div-title{
    width: 100%;
    text-align: center;
}

.div-form{
    text-align: center;
    align-items: center;
    width: 100%;
    height: 90%;

    .ion-button-form{
        margin: 5%;
    }
}