<!-- <ion-header [translucent]="true">
  <ion-header collapse="condense">
  <ion-toolbar>
    <h3>Alumni</h3>
        <ion-buttons slot="end">
           Remplace 'school-icon.png' par le nom de ton fichier d'icône 
          <img src="assets/icon/logo_aelion_couleurs.png" alt="Aelion Icon" class="header-icon"/>
        </ion-buttons>
       
  </ion-toolbar>
</ion-header>
</ion-header> -->
<ion-header [translucent]="true" color=" warning">
  <ion-toolbar>
    <h3>Alumni</h3>
        <ion-buttons slot="end">
           <!-- Remplace 'school-icon.png' par le nom de ton fichier d'icône  -->
          <img src="assets/icon/logo_aelion_couleurs.png" alt="Aelion Icon" class="header-icon"/>
        </ion-buttons>
       
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page de connexion</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <app-signin></app-signin>
  
</ion-content>

<!-- <ion-content>
  <div class="login-container">
    <form>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Se connecter</ion-button>
    </form>
  </div>
</ion-content> -->
