<ng-container *ngFor="let post of posts">
  <ion-card>
    <div class="header">
      <app-header-post class="app-intern" [intern]="post.author"></app-header-post>
      <div class="container-icon-type-post">
        <div class="icon-type-post">
          <!-- <ion-icon class="icon-element" name="{{post.type | typePostIcon}}"></ion-icon> -->
        </div>
      </div>
      
    </div>
    <!-- Check if the post.media is an image (jpg, jpeg, png, gif) -->
    <div *ngIf="isImage(post.media)">
      <img [src]="'http://localhost:3000/uploads/' + post.media" alt="Media" />
    </div>

    <!-- Check if the post.media is a video (mp4, webm, ogg) -->
    <div *ngIf="isVideo(post.media)">
      <video controls width="400" height="300" autoplay>
        <source [src]="'http://localhost:3000/uploads/' + post.media" type="video/mp4">
        Your browser or mobile does not support the video tag.
      </video>
    </div>

    <app-post-content [post]="post"></app-post-content>
    <app-tools-bar></app-tools-bar>
  </ion-card>
</ng-container>
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>