<div class="div-main">
  <div class="div-title">
    <p>Veuillez initialiser le mot de passe de votre compte</p>
  </div>

  <div class="div-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="Votre mot de passe est..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="confirmPassword" placeholder="Confirmer votre mot de passe"></ion-input>
      </ion-item>
      
      
      <ion-button class="ion-button-form" type="submit" [disabled]="form.invalid">Valider</ion-button>
    </form>
  </div>
</div>