<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="accessibility-outline"></ion-icon>
      <ion-label>Liste des stagiaires</ion-label>
    </ion-tab-button>

<!-- création de post -->
    <ion-tab-button tab="tab5" href="/tabs/tab5" id="open-modal" expand="block">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Post</ion-label>
      
    </ion-tab-button> 

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="chatbox-outline"></ion-icon>
      <ion-label>Messagerie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Mon compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  
  
</ion-tabs>


    <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Post</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
<ion-content>
  <ion-item>
    <ion-textarea [(ngModel)]="postContent" rows="3" placeholder="Quoi de neuf ?"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Fichier</ion-label>
    <input type="file" class="file-upload" onchange="console.log(event.target.files)">
  </ion-item>
  <ion-button expand="full" (click)="addPost()">Publier</ion-button>
</ion-content>
<!-- <ion-content>
  <ion-item>
    <ion-textarea [(ngModel)]="postContent" rows="3" placeholder="Quoi de neuf ?"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Photo</ion-label>
    <ion-input type="file" (change)="onPhotoChange($event)" accept="image/*"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Vidéo</ion-label>
    <ion-input type="file" (change)="onVideoChange($event)" accept="video/*"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addPost()">Publier</ion-button>
</ion-content> -->