<div class="whiteline"></div>
<ion-grid>
  <ion-row class="ion-justify-content-between">
    <ion-col>
      <div class="block-buttons">
        <ion-button (click)="changeColor()">
          <ion-icon [color]="buttonColor" name="heart" aria-hidden="true"  ></ion-icon>
        </ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div class="block-buttons">
        <ion-button>
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon  name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
