.div-first-connexion{
    text-align: center;
    .button-first-connexion{
        background-color: transparent;
        width: 50%;
        height: 33%;
        font-size: 16px;
        padding: 10px;
        margin: 5%;
    }
}