<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-input formControlName="login" placeholder="Votre login..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Votre mot de passe..." formControlName="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>
  
  
  <ion-button type="submit" [disabled]="form.invalid">Allons-y</ion-button>
</form>

<div class="div-first-connexion">
  <button class="button-first-connexion" (click)="onSubmit()">
    <a>First Connexion ?</a>
  </button>
</div>