/* Variables de couleur */
$primary-color: #FFA500; // Orange
$secondary-color: #ffffff; // Couleur de fond des éléments
$border-color: #d9e1e8; // Couleur des bordures
$shadow-color: rgba(0, 0, 0, 0.1); // Couleur de l'ombre
$placeholder-color: #a0a0a0; // Couleur du texte de l'espace réservé

/* Styles généraux */
ion-list {
  margin: 0;
  padding: 0;
}

ion-item {
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  margin-bottom: 15px;
}

ion-input {
  --padding-start: 12px;
  --padding-end: 12px;
  --border-radius: 8px;
  --background: $secondary-color;
  --box-shadow: 0 2px 4px $shadow-color;
  border: 1px solid $border-color;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &.focused {
    border-color: $primary-color;
    box-shadow: 0 0 4px rgba(255, 165, 0, 0.4); // Ombrage pour l'état focus avec la couleur orange
  }
}

ion-input::placeholder {
  color: $placeholder-color;
}

/* Bouton de soumission */
ion-button {
  width: 100%;
  border-radius: 8px;
  background-color: $primary-color; // Button background color
  color: $secondary-color;
  --background: $primary-color; // Button text color
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px $shadow-color;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%); // Slightly darker color on hover
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  &:disabled {
    background-color: #d0d0d0; // Couleur pour les boutons désactivés
    color: #a0a0a0;
    cursor: not-allowed;
  }
}

/* Style pour le lien d'activation */
.div-first-connexion {
  margin-top: 20px;
  text-align: center;

  .button-first-connexion {
    background: none;
    border: none;
    color: $primary-color;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;

    a {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      color: darken($primary-color, 10%);
    }
  }
}
ion-input-password-toggle {
  /* Change the color of the toggle icon */
  .toggle-icon {
    color: $primary-color; 
    --background: $primary-color;// Apply your custom color
  }
}