<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="caret-back-outline"></ion-icon>
      <ion-button color="strong" [strong]="true" (click)="cancel()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-card *ngIf="intern">
      <ion-card-header>
        <ion-item>
        <ion-avatar slot="start" >
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
       
      </ion-item>
      <ion-item> <ion-card-title>{{ intern.firstname }} {{ intern.lastname }}</ion-card-title></ion-item>
  
      </ion-card-header>
  
  
      <ion-card-content>
        <p><ion-icon name="briefcase-outline" style="margin-right: 8px;"></ion-icon><strong>Occupation :</strong> {{ intern.occupation }}</p>
        <p><ion-icon name="mail-outline" style="margin-right: 8px;"></ion-icon><strong>Email :</strong> {{ intern.emails }}</p>
        <p><ion-icon name="call-outline" style="margin-right: 8px;"></ion-icon><strong>Téléphone :</strong> {{ intern.phoneNumber }}</p>
        <p><ion-icon name="school-outline" style="margin-right: 8px;"></ion-icon><strong>POE :</strong> {{ intern.poe?.name }}</p>
        <p><ion-icon name="reader-outline" style="margin-right: 8px;"></ion-icon><strong>Description :</strong> {{ intern.description }}</p>
      </ion-card-content>
  
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="primary" (click)="editProfile()">
              <ion-icon name="create-outline" slot="start"></ion-icon>
              Edit Profile
            </ion-button>
            <ion-button color="secondary" (click)="shareProfile()">
              <ion-icon name="share-social-outline" slot="start"></ion-icon>
              Share Profile
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
     <div class="skills">
      <h3>Compétences</h3>
  <div *ngFor="let skill of intern?.skills">
    <div>
      <span>{{ skill.name }}</span>
      <span class="stars">
        <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="star"
            [ngClass]="{
              'filled': i <= skill.level,
              'half-filled': i - 0.5 === skill.level,
              'empty': i > skill.level
            }"
          >
            <path
              class="full"
              d="M12 2.47l2.53 5.13 5.64.82-4.08 3.98.96 5.61-5.05-2.66-5.05 2.66.96-5.61-4.08-3.98 5.64-.82L12 2.47z"
            />
          </svg>
        </ng-container>
      </span>
      <span class="endorsements">+{{ skill.endorsements }}</span>
    </div>
  </div>
  
    </div> 
    <div class="posts">
      <h3>Posts</h3>
      <div *ngIf="posts ; else noPosts">
        <div *ngFor="let post of posts" class="post">
          <p>{{ post.title }}</p>
          <p>{{ post.content }}</p>
          <p>{{ post.media}}</p>
          <p>{{ post.postedAt }}</p>
          <p>{{ post.type }}</p>
        </div>
      </div>
      <ng-template #noPosts>
        <p>No posts available.</p>
      </ng-template>
    </div>
  </ion-content> 
  