<div>
  <div class="div-title">
    <p>Veuillez saisir le code que vous voyez à l'écran dans les champs prévu à cet effet</p>
  </div>

  <div class="div-code">
    <p>Le code est: {{code}} </p>
  </div>
</div>


<div class="div-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-input
        onPaste="return false" 
        onCopy="return false" 
        onCut="return false" 
        onDrag="return false" 
        onDrop="return false" 
        autocomplete=off
        formControlName="Code" placeholder="Le code est...">
      </ion-input>
    </ion-item>
    
    
    <ion-button class="ion-button-form" type="submit" [disabled]="form.invalid">Valider</ion-button>
  </form>
</div>
